header{
  text-align: center;
  padding: 20px;
  margin: -8px;
  color: white;
  background-image: url("../img/1917_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment:fixed;
  display: block;
}
body{
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: black
}
section,
footer{ /**/
  margin: 20px;
  padding: 10px;
}
}
img{
    border-radius: 5px
}
p.synopsis{
  text-indent: 3ch;
  text-align: justify;
}
video{
  margin: 0 auto;
  display: block;
}
h1.title{
  font-size: 45px
}
p.subtitle{
  font-size: 20px
}
