/*CSS follows a strict format:
selector{
property: value;
poperty: value;
}
The selector tells the browser which element is going to receive the styles rules, that are expressed as a list: 'property:value'. Each property needs to be separated with a semi-colon.
It is possible to select more then one element, just separate them with an comma:
selector 1,
selector 2{
property: value;
}
To select elements with a class use a full stop after the name of the element and write the class name, or just use a full stop and the
class name to apply the style rules to all the elements in that class:
selector.class{
property: value;
}
or
.class{
property: value;
}*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif; /*used this CSS rule to add the font from Google Fonts to all the body's page*/
  background-color: #078544;
  color: #F6FFFF;
  box-sizing: border-box;
}
header{
  text-align: center;
  align-items: center; /*to align the header text to the center of the page*/
  letter-spacing: 1px;
  position: relative;
  font-size: 25px;
  padding-bottom: 40px; /*used the padding rule to increase, by 20 pixels, the spacing between the content and the edge of the element*/
}
.subtitle{
  font-size: 25px;
}
.background{
  background-image: url("../img/header_background/header.jpg"); /*Adding a background image to an element can be done with this CSS property. The value for the property uses the url() CSS function to tell the browser where the image is.
  In this case I'm giving the header a backgound image that is inside a folder called 'img' and has the name '...'*/;
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.evora_logo{
  margin: 0 auto;  /*use this CSS settings to center the video element and define it size*/
  display: block;
  width: 170px;
  padding-top: 40px;
}
footer{
  background-color: #081B29;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  position: static;
}
.FUOSM{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 15px;
}
.socialmedia{
  display: flex;
  justify-content: space-around;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
.twitter, .facebook, .instagram, .youtube{
  width: 30px;
  height: 30px;
}
.burger{
  display: block;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
}
.burger div{
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 5px;
  border-radius: 5px;
}
nav{
  background-color: #078544;
  height: 100vh;
  width: 90vw;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: right 0.3s ease-in;
  right: -100%;
}
.navbar{
  height: 100vh;
  width: 75vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
  nav ul{
    list-style: none;
    position: relative;
    text-align: left;
    padding-left: 40px;
    justify-content: space-around;
  }
  nav ul li a{
    text-decoration: none;
    color: #F6FFFF;
    font-size: 30px;
    font-weight: bold;
    line-height: 100px;
    border-bottom: 4px solid #37BFAF;
    padding-bottom: 3px;
}
nav ul li a:hover {
  color: #37BFAF;
}
nav ul ul{
  list-style: disc;
}
nav ul li ul li a{
  line-height: 60px;
  font-size: 25px;
  font-weight: 500;
  border-bottom: none;

}
#cover{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  right: -100%;
  background-color: #243C52;
  opacity: 0.4;
}
.WWD{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 30px;
}
.WWDp{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  padding-bottom: 20px;
  line-height: 30px;
}
.WWDp2{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  padding-bottom: 40px;
  line-height: 30px;
}
.mphoto{
  height: 400px;
  position: relative;
  clip-path: polygon(0 12%,0 100%,100% 88%,100% 0);
  max-width: 100%;
}
.mphoto::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../img/DSC_0037.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}
#mtext{
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  justify-content: center;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.OH{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  font-size: 30px;
}
.OHp{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 30px;
}
.OHp a{
  color: #37BFAF;
  font-weight: bold;
}
.rotation{
  position: relative;
  overflow: hidden;
}
#earth{
  width: 601.52px;
  height: 601.83px;
  max-width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#innertext{
  width: 601.52px;
  height: 601.83px;
  max-width: 90%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  animation: rotate 20s linear infinite;
}
#outertext{
  width: 601.52px;
  height: 601.83px;
  max-width: 90%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
  animation: rotate1 20s linear infinite;
}
.rotation{
  width: 100%;
  overflow: hidden;
}
.OHp2{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 20px;
}
.CD{
  margin-bottom: 50px;
}
.countdown{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}
b{
  font-size: 40px;
  transition: transform 0.3s ease-in-out;
}
em{
  padding-right: 10px;
  font-weight: 500;
  font-size: 20px;
}
.countdowntext{
  text-align: center;
  font-weight: 500;
}
.PS{
  margin-left: 25px;
  margin-right: 25px;
}
.PS a{
  text-decoration: none;
  color: #F6FFFF;
  border-bottom: 4px solid #37BFAF;
}
.PS img{
  max-width: 100%;
}
#PSh{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 28px;
  margin-bottom: 30px;
}
.h1, .h2{
  padding: 25px;
}
.p1{
  margin-top: 20px;
}
.buttondiv{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.button {
  border: none;
  padding: 32px 32px;
  display: inline-block;
  color: #F6FFFF;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 2px 2px 5px #081B29;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 4px;
  width: 50%;
  position: relative;
  background-image: url("../img/strikes_and_actions/of_03.2019/IMG_1335.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.h125{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 30px;
  border-bottom: 4px solid #37BFAF;
}
.p25{
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 30px;
}
.p25 a{
  color: inherit;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 4px solid #37BFAF;
}
.goals{
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10%;
}
.goals h2{
  text-align: left;
  padding-bottom: 15px;
}
.goals ul li{
  list-style: none;
  padding-left: 20px;
  line-height: 35px;
  font-size: 22px;
}
.goals ul li ul li{
  list-style: initial;
  list-style-position: inside;
  font-size: 18px;
}

@keyframes rotate { 0% { transform: rotate(0deg);} 100% {transform: rotate(360deg);} }
@keyframes rotate1 { 0% { transform: rotate(0deg);} 100% {transform: rotate(-360deg);} }


@media screen and (min-width: 976px) and (min-height: 650px) {

  .burger{
    display: none;
  }
  #cover{
    display: none;
  }
  nav{
    right: inherit;
    display: inline-block;
    height: auto;
    width: 100%;
    top: inherit;
    position: relative;
    text-align: center;
    background-color: #37BFAF;
  }
    .navbar{
      width: auto;
      height: auto;
      padding: 0px;
      margin: 0px;
      position: relative;
      display: flex;
      justify-content: space-around;
      overflow-y: inherit;
  }
  nav ul li a{
      text-decoration: none;
      color: #F6FFFF;
      font-size: 18px;
      font-weight: normal;
      line-height: 70px;
      border-bottom: none;
      padding-bottom: none;
  }
    nav ul ul{
      position: absolute;
      top: 80px;
      transition: top .3s;
      border-top: 3px solid white;
      padding: inherit;
      opacity: 0;
      visibility: hidden;
      list-style: none;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
  nav ul li a:hover {
    color: #078544;
  }
    nav ul li ul li a{
      line-height: none;
      font-size: 18px;
      font-weight: normal;
      padding-left: 20px;
    }
    nav ul ul li{
      position: relative;
      margin: 0px;
      width: 170px;
      float: none;
      display: list-item;
      border-bottom: 1px solid white;
      text-align: left;
      background: #37BFAF;
    }
    .WWDp2{
      padding-left: 250px;
      padding-right: 250px;
      line-height: 30px;
      padding-bottom: 100px;
    }
    .OHp{
      padding-left: 250px;
      padding-right: 250px;
      line-height: 30px;
      padding-bottom: 30px;
    }
    .OHp2{
      padding-left: 250px;
      padding-right: 250px;
      line-height: 30px;
      padding-top: 30px;
      padding-bottom: 40px;
    }
    b{
      font-size: 50px;
    }
    em{
      font-size: 25px;
    }
    .socialmedia{
      justify-content: center;
      margin-left: 0px;
      margin-right: 0px;
    }
    .twitter, .facebook, .instagram, .youtube{
      width: 30px;
      height: 30px;
      margin-right: 30px;
    }
    .twitter:hover, .facebook:hover, .instagram:hover, .youtube:hover{
      opacity: 0.5;
    }
    .PS{
      margin-left: 25%;
      margin-right: 25%;
    }
    .PS a{
      border-bottom: none;
    }
    .PS a:hover{
      border-bottom: 4px solid #37BFAF
    }
    #PSh{
      padding-left: 50px;
    }
    .first, .second, .third, .fourth{
      display: flex;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .second, .fourth{
      flex-direction: row-reverse;
    }
    .PS img{
      width: 50%;
      height: auto;
    }
    .buttondiv{
      margin-top: 70px;
      margin-bottom: 50px;
    }
    .button{
      box-shadow: none;
      width: 30%;
      font-size: 25px;
      letter-spacing: 3px;
      word-spacing: 20px;
    }
    .button:hover {
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .p25{
      padding-left: 250px;
      padding-right: 250px;
      line-height: 30px;
      padding-bottom: 30px;
    }
    .p25 a{
        border-bottom: none;
    }
    .p25 a:hover{
      border-bottom: 4px solid #37BFAF
    }
    .goals{
      margin-left: 20%;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 20%;
    }
}
