h1{
  color:#6E9C81;
  text-align: center;
}
div.a{
  padding: 8px;
  margin:-8px
}
div.b{
  text-align: center;
}
h2{
  color:#86679C
}
h3{
  color:#D1B0E9
}
a{
  color:#99E8BA
}
p a {
  color:#D1B0E9
}
img{
  box-shadow: 5px 5px 5px #C9C9C9
}
div.c{
  padding-left: 20px;
  padding-bottom: 1px;
  padding-top: 1px
}
body{
  padding: 3px
}
